{{> inc/header }}

<div class="form-search">
    <div class="form">
        <div class="form-floating mb-2">
            <input id="lLgSk1XIZNwzxxnE0mUGJxVoSsoUgw" type="text" class="form-control" placeholder="" required>
            <label for="lLgSk1XIZNwzxxnE0mUGJxVoSsoUgw">Contribuyente o RUC</label>
        </div>
        <button class="w-100 btn btn-info" id="search">Buscar</button>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-9" id="rst">
        </div>
    </div>
</div>


{{> inc/footer }}