main > .container {
    padding: 60px 15px 0;
}

.form-search {
    width: 100%;
    max-width: 520px;
    padding: 15px;
    margin: auto;
}
  
.form-search .form-floating:focus-within {
    z-index: 2;
}
  
.form-search input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
  
[data-bs-theme="dark"] {

}